<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlpay.imagepick">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <provider
            android:name="com.jlpay.imagepick.ImagePickerFileProvider"
            android:authorities="com.jlpay.imagepick.fileprovider.${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />

        </provider>

    </application>

</manifest>