<?xml version="1.0" encoding="utf-8"?><!--指定该Android应用的包名，该包名可用于唯一地标志该应用-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jlpay.kotlindemo">

    <!-- 普通权限申请 -->
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变网络的状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- NFC -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 闪光灯   -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 安装应用程序 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--以下为Tinker热更新需要的权限    -->
    <!-- 读取系统底层日志 -->
    <uses-permission android:name="android.permission.READ_LOGS" />


    <!-- 运行时权限申请，Android6.0以后 -->
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--以下为Tinker热更新需要的权限    -->
    <!-- 手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- 声明App在运行时所依赖的外部的硬件或软件特征 -->
    <!-- false表示应用需要这项feature，但如果没有，可能会影响部分功能，但应用还是能够正常工作的；true表示这项feature是必须的，如果没有，应用将无法工作 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!--指定Android应用标签，图标-->
    <application
        android:name=".application.SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <!--  指定该Activity是程序的入口   -->
                <action android:name="android.intent.action.MAIN" />
                <!--  指定加载应用时运行该Activity   -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--在Activity中添加了 android:configChanges属性，目的是当所指定属性(Configuration Changes)发生改变时，通知程序调用 onConfigurationChanged()函数
        就不会重启activity，同时能够监听系统设置的更改-->
        <activity
            android:name=".ui.main.chapter1and2.PracticeViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.FirstUiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.FrameLayoutActitivy"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ConstraintLayoutActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.LinearLayoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.hencoder.ThreadActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ImageViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.AdapterViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.rxjava.RxJavaActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.dailytest.LibTestJavaActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.dailytest.LibTestKotlinActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.RecyclerViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ProgressBarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.hencoder.IOActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ViewSwitcherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ImageSwitcherActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ViewFlipperActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.OtherUIModuleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.DialogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.MenuActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.XmlMenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.ActionBarActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter1and2.PlaneViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter3.EventListenerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- screenSize|orientation属性值指定该Activity可以监听屏幕方向改变的事件，这样当程序改变手机屏幕方向时，Activity的onConfigurationChanged()方法就会被回调       -->
        <activity
            android:name=".ui.main.chapter3.ConfigurationActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.main.chapter3.HandlerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.chapter3.AsyncTaskActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.rxjava.RxLifecycleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.rxjava.RxAutoDisposeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.dailytest.QRCodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.hencoder.mvc.MvcDemoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <!--TODO 想办法搞一个组件自动注册的方法-->
        <activity
            android:name=".ui.main.hencoder.mvp.MvpDemoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.hencoder.mvcadvance.MvcAdvanceDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.hencoder.mvvm.MvvmDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.jetpack.mvvm.learn1.ImageMvvmActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.jetpack.mvvm.learn2.WanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.dailytest.KotlinTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.chapter10.SimpleServiceActivity" />
        <activity android:name=".ui.main.chapter10.IntentServiceActivity" />
        <activity android:name=".ui.main.chapter10.AidlServiceActivity" />
        <activity android:name=".ui.main.chapter10.CustomAidlServiceActivity" />
        <activity android:name=".ui.main.dailytest.MediaUtilsActivity" />

        <service android:name=".service.SimpleService" />
        <service android:name=".service.MyIntentService" />
        <service android:name=".ui.main.chapter10.IntentServiceActivity$MyService" />

        <!--广播注册：静态注册-->
        <receiver
            android:name=".broadcast_receiver.MyReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.jlpay.kotlindemo.MyReceiver" />
            </intent-filter>

        </receiver>

        <!--        <provider-->
        <!--            android:name=".provider.MyProvider"-->
        <!--            android:authorities="com.jlpay.kotlindemo.MyProvider"-->
        <!--            android:exported="false">-->

        <!--        </provider>-->

        <!-- authorities：一个标识，在当前系统内必须是唯一值，用来标识provider的唯一标识，一般用包名-->
        <!-- android:exported 是Android中的四大组件 Activity，Service，Provider，Receiver 四大组件中都会有的一个属性       -->
        <!-- 它的主要作用是：是否支持其它应用调用当前组件；如果包含有intent-filter 默认值为true; 没有intent-filter默认值为false       -->
        <!-- 如果被设置为了false，那么这个组件将只会被当前应用或者拥有同样userID的应用组件调用       -->
        <!-- granUriPermissions：是否允许授权文件的临时访问权限。如果 Content Provider 的 grantUriPermissions 属性值为“true”，则该Provider内所有的数据都能被授权访问。
        可它如果设为“false”，则只有本元素指定的数据子集才能被授权。一个 Provider内可以包含任意数量的<grant-uri-permission>元素。其中每一个只能指定一条路径（三种可能的属性之一）-->
        <!-- 在app开发过程中需要用到FileProvider的主要有：相机拍照以及图片裁剪；调用系统应用安装器安装apk（应用升级）       -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jlpay.kotlindemo.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="name,resource" />

        </provider>


    </application>

</manifest>